---
import portraitHero from '../ascii/portrait-hero.txt?raw';

const {
	label = 'ascii self portrait',
	caption = 'ascii self portrait / work in progress',
	art = portraitHero,
} = Astro.props;
---

<figure class="ascii-panel ascii-portrait" aria-label={label}>
	<div class="ascii-portrait-display">
		<pre class="ascii-portrait-art" tabindex="0">{art}</pre>
	</div>
	<figcaption>{caption}</figcaption>
</figure>
